* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, 0.447058823529412);
}

::-webkit-scrollbar {
	width: 8px;
	height: 3px;
}

::-webkit-scrollbar-corner,
 ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.0588235294117647);
}

::-webkit-scrollbar-corner,
 ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fff;
}

[v-cloak] {
	display: none;
}

.container {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(240, 242, 245, 1);
	padding: 24px;
	box-sizing: border-box;
}

.container-nav {
	width: 100%;
	height: 105px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	display: flex;
	color: rgba(0, 0, 0, 0.447058823529412);
	text-align: center;
	margin-bottom: 24px;
}

.container-nav li {
	flex: 1;
	margin: 25px 0px;
}

.container-nav li:not(:last-child) {
	border-right: 1px solid rgba(233, 233, 233, 1);
}

.container-nav span {
	display: block;
	color: rgba(0, 0, 0, 0.847058823529412);
	font-size: 24px;
	margin-top: 8px;
}

.container-content {
	width: 100%;
	height: calc(100% - 135px);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	padding: 24px 28px;
	box-sizing: border-box;
}

.content-title {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.847058823529412);
	text-align: left;
	font-weight: 700;
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
}

.auto {
	background-color: rgba(24, 144, 255, 1);
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 0px 15px;
	outline: 0;
	box-sizing: border-box;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.btn-group {
	position: relative;
	min-height: 32px;
}

.container-footer {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0px;
}

.container-footer>ul:first-child {
	width: 200px;
	margin: 0 auto;
	display: flex;
	height: 30px;
	line-height: 30px;
}

.container-footer>div {
	text-align: center;
}

.container-content>p {
	line-height: 24px;
}

.container-content>p>span {
	padding-left: 80px;
	box-sizing: border-box;
}

.container-content>p>span>span {
	color: #F2637B;
}

.container-footer>ul:first-child li {
	flex: 1;
	text-align: center;
}

.container-content .content {
	height: calc(100% - 94px);
	width: 100%;
	position: relative;
}

.container-content .content .table {
	position: absolute;
	top: 20px;
	width: 43%;
	bottom: 20px;
	border-radius: 4px;
	border: 1px solid rgba(217, 217, 217, 1);
}

.container-content .content .table .title {
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0px 16px;
	box-sizing: border-box;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.647058823529412);
	border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.container-content .content .tableLeft {
	left: 0;
}

.container-content .content .tableRight {
	right: 0;
}

.container-content .content .tableMiddle {
	position: absolute;
	width: 50px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid rgba(217, 217, 217, 1);
	top: calc(50% - 14px);
	left: calc(50% - 25px);
}

.table-input {
	float: right;
	width: 233px;
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 4px;
	height: 32px;
	margin: 6px 0px;
	cursor: pointer;
}

.table-input input {
	border: none;
	height: 32px;
	vertical-align: top;
	margin-left: 20px;
	outline: 0;
	width: 80%;
	cursor: pointer;
}

.table-input img {
	vertical-align: super;
}

.list2>p,
.list1>p {
	height: 38px;
	line-height: 38px;
	color: rgba(0, 0, 0, 0.647058823529412);
}

.list1>p {
	margin: 0px 16px;
}

.list2>p>img,
.list1>p>img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.list2>p.active>img,
.list1>p.active>img {
	transform: rotate(180deg);
	margin-top: -5px;
}

.list1 {
	cursor: pointer;
}

.list2 .list1-inside>div {
	padding-left: 80px;
	box-sizing: border-box;
}

.table>div:nth-child(2) {
	overflow-y: scroll;
	height: calc(100% - 48px);
}

.checkedList-text {
	height: 40px;
	display: none;
}

.list2>p {
	padding-left: 40px;
	box-sizing: border-box;
}

.list2.active .checkedList-title {
	background: rgba(24, 144, 255, 1);
	color: #FFf;
}

.list2.active .checkedList-text {
	display: block;
	position: relative;
	color: rgba(0, 0, 0, 0.647058823529412);
}

.checkedList-text {
	margin: 5px 0px 0px 40px;
}

.choose {
	display: flex;
	position: absolute;
	top: 2px;
	left: 40px;
	height: auto;
	min-height: 34px;
	width: 70%;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(63, 164, 237, 1);
	border-radius: 4px;
	padding: 2px;
	box-sizing: border-box;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

.choose>div {
	margin-right: 10px;
	min-width: 59px;
	background-color: rgba(244, 244, 244, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(217, 217, 217, 1);
	border-radius: 4px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	display: inline-block;
}

.btn {
	position: absolute;
	top: 2px;
	border: none;
	min-width: 50px;
	height: 34px;
	text-align: center;
	background: transparent;
	right: 5px;
	cursor: pointer;
	border-radius: 4px;
	background-color: rgba(24, 144, 255, 1);
	color: #FFFFFF;
}

.btn-group .btn {
	min-width: 61px;
	height: 32px;
	top: 0px;
	right: 0;
	padding: 0px 15px;
	box-sizing: border-box;
}

.btn-group>.search {
	top: 0;
	position: absolute;
	right: 0px;
	width: 32%;
	cursor: pointer;
}

.btn-group>.search input {
	width: calc(100% - 76px);
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(217, 217, 217, 1);
	border-radius: 4px;
	height: 32px;
	outline: 0;
	padding-left: 20px;
	box-sizing: border-box;
}

.tableRight .list2>p {
	background: #EBEBEB;
	margin-bottom: 2px;
}

.btn-group .arrange {
	right: 71px;
}

.btn-group-sub button:not(:last-child) {
	position: initial;
	margin-right: 5px;
	outline: 0;
}

.btn-group-sub .arrange.btn {
	position: absolute;
}

.btn-group-sub .btn.prev img {
	transform: rotate(270deg);
	vertical-align: bottom;
	margin-right: 5px;
}

.btn-group-sub .btn.next img {
	transform: rotate(90deg);
	vertical-align: bottom;
	margin-right: 5px;
}

.btn-group-sub .btn.select img {
	transform: rotate(180deg);
	vertical-align: bottom;
	margin-left: 5px;
	vertical-align: inherit;
	width: 14px;
	height: 14px;
}

.btn-group-sub .btn.select.active img {
	transform: rotate(0deg);
	vertical-align: bottom;
}

.btn-group-sub .btn.select.active {
	border: 1px solid rgba(24, 144, 255, 1);
	color: rgba(24, 144, 255, 1);
}

.arrange .btn-group {
	height: 74px;
}

.select.btn {
	margin-left: 5px;
}

.btn.normal {
	background-color: transparent;
	border: 1px solid rgba(217, 217, 217, 1);
	color: rgba(0, 0, 0, 0.647058823529412);
}

.btn-group-sub {
	min-height: 32px;
	margin-top: 10px;
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
}

.btn-group-sub .select.btn {
	position: relative;
}

.select.btn>ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 37px;
	text-align: left;
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 4px;
	display: none;
	z-index: 1;
	background: #fff;
}

.select.btn>ul li {
	height: 32px;
	line-height: 32px;
	padding: 0px 15px;
	box-sizing: border-box;
}

.select.btn>ul li.active {
	background: #E6F7FF;
}

.arrange .inside {
	height: calc(100% - 120px);
}

.layui-laypage a,
.layui-laypage span {
	font-size: 14px;
	margin: 0 5px;
	border-radius: 6px;
	color: rgba(0, 0, 0, 0.647058823529412);
}

span.layui-laypage-count {
	color: rgba(0, 0, 0, 0.427450980392157);
}

.page-group {
	text-align: center;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background: rgba(24, 144, 255, 1);
	border-radius: 6px;
}

.layui-laypage input:focus,
.layui-laypage select:focus {
	border-color: rgba(24, 144, 255, 1)!important;
}

.list {
	margin: 15px 0px;
	overflow-y: auto;
}

.list>div.title,
.list>div.sub-title,
.list>div.content>div {
	display: flex;
	box-sizing: border-box;
}

.list>div.content>div>div {
	flex: 1;
	text-align: center;
	height: 54px;
	line-height: 54px;
	border: 1px solid rgba(235, 235, 235, 1);
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.647058823529412);
}

.list>div.title>div,
.list>div.sub-title>div {
	flex: 10%;
	color: rgba(0, 0, 0, 0.847058823529412);
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-family: 'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
	font-weight: 700;
	border: 1px solid rgba(235, 235, 235, 1);
	box-sizing: border-box;
}

.title-box>div>div {
	color: rgba(0, 0, 0, 0.847058823529412);
	font-family: 'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
	font-weight: 700;
}

.list .title>div:first-child {
	flex: 30%;
}

.title-box>.title-list {
	position: absolute;
	top: 40px;
	left: 30px;
	width: 60px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c2c2c2;
	display: none;
	z-index: 1;
}

.title-box>.title-list.active {
	display: block;
}

.title-box>.title-list li {
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
}

.title-box>.title-list li.active {
	background: #E6F7FF;
}

.title-box {
	position: relative;
	cursor: pointer;
}

.active.none {
	background-color: rgba(20, 194, 195, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(235, 235, 235, 1);
}